#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

//  ##########################################################
//  ###########        WORKING 2023/07/1       ###############
//  ##########################################################
// #############         LAYERS         #################

#define SYM_L   1
#define NAV_L   2
#define NAV2_L  3

//#define OTHER_L 4

#define DEFAULT 0
#define ALPHA  1
#define NAVIGATION   2
#define NUMBERS   3
#define MOUSE  4
#define SYMBOLS 5
#define HOTKEYS  6

// Desktop and tab navigation shortcuts		

#define DESKTOP_LT   LC(LG(LEFT))
#define DESKTOP_RT   LC(LG(RIGHT))
#define WINDOW_LT    LA(LS(TAB))
#define WINDOW_RT    LA(TAB)
#define TAB_LT       LC(LS(TAB))
#define TAB_RT       LC(TAB)

// NOT USED  &kp LG(LC(LEFT))  &kp LG(LC(RIGHT))
// Generic bindings

#define KILL_WINDOW  LA(F4)
#define MAXIMIZE     LG(UP)
#define MINIMIZE     LG(DOWN)
#define UN_MINIMIZE  LG(LC(N))

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <500>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <300>;
};

&sl { release-after-ms = <2000>; };

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    macros {
        ZMK_MACRO(inv_qm,

        wait-ms = <10>;
        tap-ms = <10>;
        bindings =
            <&macro_press &kp LALT>,
            <&macro_tap &kp KP_N1 &kp KP_N6 &kp KP_N8>,
            <&macro_release &kp LALT>;

        )
    };

     combos {
                compatible = "zmk,combos";

                // --- ---
                // -X- X--
                // --- ---
                combo_left_bracket {
                     timeout-ms = <50>;
                     key-positions = <11 13>;
                     bindings = <&kp LEFT_PARENTHESIS>;
                };

                // --- ---
                // -X- --X
                // --- ---
                combo_right_bracket {
                     timeout-ms = <50>;
                     key-positions = <11 15>;
                     bindings = <&kp RIGHT_PARENTHESIS>;
                };

                // --- ---
                // --- ---
                // X-- --X
                combo_enter {
                    timeout-ms = <50>;
                    key-positions = <16 21>;
                    bindings = <&kp ENTER>;
                };

                // X-- --X
                // --- ---
                // --- ---
                combo_esc {
                    timeout-ms = <50>;
                    key-positions = <4 9>;
                    bindings = <&kp ESCAPE>;
                };

                // --- ---
                // X-- --X
                // --- ---
                combo_backspace {
                    timeout-ms = <50>;
                    key-positions = <10 15>;
                    bindings = <&kp BACKSPACE>;
                };

                // --- --X
                // --- ---
                // X-- ---
                combo_slash {
                    timeout-ms = <50>;
                    key-positions = <16 9>;
                    bindings = <&kp SLASH>;
                };

                // X-   -X
                // --- ---
                // --- ---
                // X-- --X
                combo_boot {
                    timeout-ms = <50>;
                    key-positions = <0 3 16 21>;
                    bindings = <&bootloader>;
                };
            };
    behaviors {
        //   td_mt_ls: tap_dance_mod_tap {
        //       compatible = "zmk,behavior-tap-dance";
        //       label = "TAP_DANCE_LSHIFT";
        //       #binding-cells = <0>;
        //       tapping-term-ms = <200>;
        //       bindings = <&mt LSHIFT CAPSLOCK>, <&kp LCTRL>;
        //   };
        //   td_mt_rs: tap_dance_mod_tap {
        //       compatible = "zmk,behavior-tap-dance";
        //       label = "TAP_DANCE_RSHIFT";
        //       #binding-cells = <0>;
        //       tapping-term-ms = <200>;
        //       bindings = <&mt RSHIFT CAPSLOCK>, <&kp RCTRL>;
        //   };            
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt NAVIGATION SPACE  &lt MOUSE ENTER               &mo ALPHA  &mt RIGHT_SHIFT LG(SPACE)
&kp F        &kp P       &kp G      &kp L  &kp D  &kp U
&kp A        &kp R       &kp S      &kp H  &kp N  &kp E
&kp C        &kp T       &kp V      &kp M  &kp O  &kp K
            >;
        };

        ALPHA {
            bindings = <
&trans      &trans                                          &trans     &kp RIGHT_SHIFT
&kp Q       &kp W    &kp LEFT_BRACKET   &kp RIGHT_BRACKET   &kp J      &kp Y
&kp Z       &kp X    &kp B              &kp SLASH           &kp I      &kp SEMICOLON
&kp HOME    &none    &none              &kp GRAVE           &kp COMMA  &kp DOT
            >;
        };


        NAVIGATION {
            bindings = <
&trans      &trans                                       &trans  &lt 2 SLASH
&kp K_BACK  &kp Q           &kp TAB    &kp COMMA         &kp UP_ARROW    &kp PERIOD
&mo 3       &kp LEFT_SHIFT  &kp ENTER  &kp LEFT_ARROW    &kp DOWN_ARROW  &kp RIGHT_ARROW
&kp HOME    &none           &kp END    &kp LEFT_BRACKET  &kp SQT         &kp RIGHT_BRACKET
            >;
        };

        NUMBERS {
            bindings = <
&trans &none                                             &none         &trans
&kp LBKT   &kp Q           &kp UNDERSCORE  &kp N7        &kp N8        &kp N9
&kp MINUS  &kp LEFT_SHIFT  &kp PLUS        &kp NUMBER_4  &kp N5        &kp NUMBER_6
&kp LSHFT  &kp EQUAL       &kp N0          &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3
            >;
        };

        MOUSE {
            bindings = <
&trans     &trans                                       &trans              &trans
&none      &none            &none       &msc SCRL_DOWN  &mmv MOVE_UP        &msc SCRL_UP
&mkp RCLK  &mkp LCLK        &none       &mmv MOVE_LEFT  &mmv MOVE_DOWN      &mmv MOVE_RIGHT
&none      &none            &none       &kp C           &kp LG(TAB)  &kp LC(TAB)
            >;
        };

        SYMBOLS {
            bindings = <
&kp SPACE  &none                &none  &kp RSHFT
&kp LBKT   &kp Q  &kp W  &kp E  &kp R  &kp T
&kp LCTRL  &kp A  &kp S  &kp D  &kp F  &kp G
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B
            >;
        };

        HOTKEYS {
            bindings = <
&kp SPACE  &none                &none   &kp RSHFT
&kp LBKT   &kp Q  &kp W  &kp E  &kp R  &kp T
&kp LCTRL  &kp A  &kp S  &kp D  &kp F  &kp G
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B
            >;
        };
    };
};
